<section class="masonry-blog-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <h1 class="text-center">Coders.Tokyo's Blog</h1>
        <img class="d-none" src="https://coders.tokyo/images/meta-cover.jpg" />
        <% page.posts.each(function(post, i){ %>
          <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
        <% }) %>
        <% if (page.total > 1){ %>
          <nav id="page-nav" class="pagination">
            <% var prev_text = "&laquo;" ;var next_text = " &raquo;"%>
            <%- paginator({
              prev_text: prev_text,
              next_text: next_text
            }) %>
          </nav>
        <% } %>
      </div>
    <div>
  </div>
</section>
