<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2">
          <a href="<%- url_for() %>">
            <img class="logo logo-dark" alt="logo" src="/images/logo@256.png">
            <img class="logo logo-light" alt="logo" src="/images/logo@256.png">
          </a>
        </div>
        <div class="col-9 col-md-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-2 hidden-xs">
          <div class="bar__module">
            <a href="<%- url_for() %>">
              <img class="logo logo-dark" alt="logo" src="/images/logo@256.png">
              <img class="logo logo-light" alt="logo" src="/images/logo@256.png">
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <% for (var item in theme.menu){ %>
                <li><a href="<%- url_for(theme.menu[item]) %>"><%= item %></a></li>
              <% } %>
              <li>
                <a href="http://bit.ly/coders-tokyo-youtube-playlist" target="_blank">
                  Tuts
                </a>
              </li>
            </ul>
          </div>
          <!--end module-->
          <div class="bar__module">
            <a class="btn btn--sm btn--primary type--uppercase"
              target="_blank"
              href="http://bit.ly/coders-tokyo-signup">
              <span class="btn__text">
                Đăng ký học miễn phí
              </span>
            </a>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>