/*! Place your custom styles here */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-number {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  border-radius: 50%;
  border: 1px solid #ececec;
  margin: 0px 3px;
}

.pagination .extend {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  margin: 0px 3px;
}

/* Fix list style in blog post */
article .article__body ul {
  list-style: initial;
  margin-left: 1rem;
}

article .article__body ul ul {
  list-style-type: circle;
}

article .article__body p,
article .article__body ul {
  font-size: 1.35714286rem;
}

article .article__body pre {
  padding: 0;
}
