/*! Place your custom styles here */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-number {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  border-radius: 50%;
  border: 1px solid #ececec;
  margin: 0px 3px;
}

.pagination .extend {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  margin: 0px 3px;
}

/* ------------------ Fix list style in blog post ------------------ */
article .article__body ul {
  list-style: initial;
  margin-left: 1rem;
}

article .article__body ol {
  margin-left: 1rem;
}

article .article__body ol li {
  margin-bottom: 0;
}

article .article__body ul ul {
  list-style-type: circle;
}

article .article__body p,
article .article__body ul,
article .article__body ol {
  font-size: 1.35714286rem;
}

article .article__body pre {
  padding: 0;
}

article .article__body h2,
article .article__body h3,
article .article__body h4 {
  font-weight: 600;
}

article .scroll_top_btn {
  position: fixed;
  bottom: 1.3rem;
  right: 7rem;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: 5px 0 20px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background: #fff;
  transition: 200ms ease;
}
article .scroll_top_btn:active {
  transform: scale(0.9);
}
article .scroll_top_btn img {
  width: 28px;
  height: auto;
}
@media (max-width: 768px) {
  article .scroll_top_btn {
    right: 6.2rem;
    bottom: 0.68rem;
  }
}

/* ------------------ Tuts Page ------------------ */
.course-thumbnail {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.115);
}

.course-board .course-url {
  font-size: 1.125rem;
  display: block;
}

.text-block {
  margin-bottom: 1rem;
}

.text-block h2 {
  color: #4a90e2;
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.course {
  margin-bottom: 3rem;
}

.course-board .lead {
  font-size: 1.17rem;
  line-height: 1.78rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 768px) {
  .course-board {
    padding: 0 1.125rem;
  }
}

/* ------------------ For Events Page ------------------ */
.text-blue {
  color: #4a90e2;
}

.custom.blur-background:before {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  opacity: 0.6;
}

.list-time {
  list-style: disc;
  margin-left: 1.2rem !important;
}

.list-time li {
  margin: 0.6rem 0;
}
