/*! Place your custom styles here */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-number {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  border-radius: 50%;
  border: 1px solid #ececec;
  margin: 0px 3px;
}

.pagination .extend {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  line-height: 23px;
  width: 1.85714286em;
  height: 1.85714286em;
  margin: 0px 3px;
}

/* Fix list style in blog post */
article .article__body ul {
  list-style: initial;
  margin-left: 1rem;
}

article .article__body ol {
  margin-left: 1rem;
}

article .article__body ol li {
  margin-bottom: 0;
}

article .article__body ul ul {
  list-style-type: circle;
}

article .article__body p,
article .article__body ul,
article .article__body ol {
  font-size: 1.35714286rem;
}

article .article__body pre {
  padding: 0;
}

article .article__body h2,
article .article__body h3,
article .article__body h4 {
  font-weight: 600;
}

/* Lmint CSS */
.course-board {
  padding: 0 4.5rem;
}

.course {
  box-sizing: border-box;
  padding: 6px 1.8rem;
}

.course-thumbnail {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.115);
}

.course-url {
  font-size: 1.125rem !important;
  display: block;
}

.text-block {
  margin-bottom: 1rem;
}

.text-block h2 {
  color: #4a90e2;
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.lead {
  font-size: 1.045rem;
  margin-bottom: 0.25rem !important;
}

@media (max-width: 768px) {
  .course-board {
    padding: 0 1.125rem;
  }

  .course {
    padding: 6px 12px;
    text-align: center;
  }
}
