<div class="main-container">
  <section class="cover height-80 text-center">
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <h1 class="color--primary"><%= theme.subtitle %>.</h1>
          <h1>Cùng nhau học lập trình miễn phí.</h1>
          <a class="btn btn--primary type--uppercase"
            href="http://bit.ly/coders-tokyo-30-6"
            target="_blank">
            <span class="btn__text">
              Hội thảo lập trình 30/06/2018
            </span>
          </a>
          <!--end of modal instance-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section class="cta cta-4 space--xxs unpad--bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <span class="label label--inline">Free</span>
          <span><a href="http://bit.ly/coders-tokyo-signup" target="_blank"><b>Đăng ký</b></a> để nhận ngay <b class="color--primary-2">khoá học lập trình 1 năm</b> và cơ hội <b class="color--primary-2">đi làm tại Nhật</b> hoàn toàn <b class="color--primary-2">MIỄN PHÍ</b>.</span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section class="switchable switchable--switch feature-large">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-6 col-12 text-center">
          <img alt="Tutor" class="border--round box-shadow-wide" src="images/me.jpg" />
          <!--end video cover-->
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="switchable__text">
            <h2>Ai là người hướng dẫn bạn học?</h2>
            <p class="lead">
              Mình là Thịnh, hiện đang là Lead Developer tại một Startup ở Tokyo. Với kinh nghiệm <b class="color--primary-2">7 năm</b> làm lập trình viên web/app, trong đó có <b class="color--primary-2">5 năm</b> làm việc tại Nhật Bản, mình muốn chia sẻ phương pháp học để giúp các bạn <b class="color--primary-2">đi đúng hướng, rút ngắn thời gian học, truyền cảm hứng</b> cho các bạn theo đuổi con đường trở thành một developer giỏi.
            </p>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section class="bg--secondary">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-8">
          <h2 class="text-center">Bạn sẽ được học gì?</h2>
          <p class="lead">
            Đến với cộng đồng <b class="color--primary-2">coders.tokyo</b> không những bạn được học về lập trình miễn phí, bạn còn có cơ hội thực tập với những dự án thực tế, có cơ hội được giới thiệu tới các công ty lớn tại Nhật Bản.
          </p>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-6 col-lg-5">
          <ol class="process-3">
            <li class="process_item">
              <div class="process__number">
                <span>1</span>
              </div>
              <div class="process__body">
                <h4>Học lập trình cơ bản</h4>
                <p>
                  Bạn sẽ được làm quen với ngôn ngữ lập trình JavaScript, các ngôn ngữ khác phục vụ cho lập trình web như HTML, CSS.
                </p>
              </div>
            </li>
            <li class="process_item">
              <div class="process__number">
                <span>2</span>
              </div>
              <div class="process__body">
                <h4>Học lập trình nâng cao</h4>
                <p>
                  Khoá học này bao gồm JavaScript nâng cao, các framework được sử dụng để lập trình cho front-end và back-end
                </p>
              </div>
            </li>
            <li class="process_item">
              <div class="process__number">
                <span>3</span>
              </div>
              <div class="process__body">
                <h4>Làm dự án</h4>
                <p>
                  Sau khi học xong lập trình nâng cao, bạn sẽ được thực tập với một dự án nhỏ quy mô 1 dev, được người có kinh nghiệm hơn review code. Sau đó sẽ thực tập với các dự án lớn hơn, sát với công việc thực tế hơn và quy mô team lớn hơn.
                </p>
              </div>
            </li>
            <li class="process_item">
              <div class="process__number">
                <span>4</span>
              </div>
              <div class="process__body">
                <h4>Học các kỹ năng để đi làm tại Nhật</h4>
                <p>
                  Trước khi sang Nhật làm việc, các bạn sẽ được đào tạo các kĩ năng cơ bản để có thể thích nghi được với môi trường làm việc của một đất nước công nghiệp, những kĩ năng mà bạn thường không được học ở trường lớp.
                </p>
              </div>
            </li>
          </ol>
        </div>
        <div class="col-md-6 hidden-xs text-center">
          <img alt="Code Editor" src="images/code-editor.jpg" class="border--round box-shadow-wide" />
        </div>
      </div>
      <!--end of row-->
    </div>
  </section>

  <section class="pb-0">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-8">
          <h2 class="text-center">Mục đích của mình là gì?</h2>
          <p class="lead">
            Mình có một mong muốn là giúp những người nghèo ở khắp nơi trên thế giới, những người mà không có tiền mua máy tính, được học và làm quen với lập trình. Mình muốn định hướng cho các bạn trẻ thích học lập trình mà không biết bắt đầu từ đâu. Với tốc độ thay đổi công nghệ nhanh như hiện tại, càng nhiều lập trình viên giỏi thì thế giới càng phát triển nhanh hơn.
          </p>

          <div class="testimonial text-center">
            <blockquote>
                “Stay hungry, stay foolish.”
            </blockquote>
            <h5>Steve Jobs</h5>
            <span>CEO — Apple Inc.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>